<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.muhayu.dhsongboard.mapper.UserInfoMapper">

    <insert id = "insertUserInfo" parameterType = "com.muhayu.dhsongboard.model.UserInfoModel">
        insert into userinfo('email','password','name')
        values (#{email}, #{password}, #{name})
    </insert>

    <select id = "loginCheck" resultType = "com.muhayu.dhsongboard.model.UserInfoModel">
        SELECT * FROM userinfo WHERE email = #{email}
    </select>

</mapper>